<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringDemoApplication" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot">
    <module name="spring-demo" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="com.example.springdemo.SpringDemoApplication" />
    <option name="ALTERNATIVE_JRE_PATH" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>